@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}

@layer components {
  .align-elements {
    @apply mx-auto w-full max-w-[1300px] px-4;
  }

  .header {
    @apply bg-cover bg-left bg-no-repeat md:bg-fixed md:bg-center;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/images/header-bg.webp");
  }

  .special-item {
    @apply overflow-hidden rounded-lg;
    img {
      @apply transition-transform duration-300 ease-in-out;
    }
  }

  .special-item:hover {
    img {
      @apply scale-110 rotate-2;
    }
  }

  .cta {
    @apply bg-cover bg-center bg-no-repeat md:bg-fixed;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("/images/cta-bg.jpg");
  }

  img {
    @apply object-cover;
  }

  section {
    @apply py-10 md:py-20;
  }

  .counter-item {
    @apply inline-block p-5 text-center md:grow md:border-r;
  }

  .counter-item:last-child {
    @apply border-0;
  }

  .counter {
    @apply bg-cover bg-center bg-no-repeat md:rounded-xl;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/images/counter-bg.jpg");
  }

  .popular-img {
    @apply h-[300px] w-full;
  }

  .popular-img-main {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.9) 100%
    );
  }
}

.link:hover {
  @apply opacity-80;
}

.data-picker {
  @apply grow;
}

.react-datepicker-wrapper {
  @apply w-full;
}

.hidden-nav .language-selector {
  display: block !important;
}

@media screen and (max-width: 1068px) {
  .header-nav {
    display: none !important;
  }

  .nav-toggler {
    display: inline-block !important;
  }
}

@media screen and (max-width: 1090px) {
  .counter-list {
    gap: 0;
  }

  .counter-item {
    font-size: 20px;
  }
}
